@model IEnumerable<DatabaseAccess.material>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.materials_topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arranged_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publish_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.specification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.first_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.materials_topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.arranged_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publish_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.specification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.first_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.materials_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.materials_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.materials_id })
        </td>
    </tr>
}

</table>
