@model DatabaseAccess.user
<br />
<br />
@{
    ViewBag.Title = "User Details";
}

<h4 class="m-0 font-weight-bold text-primary">User Details :</h4>
<br />

<div class="card shadow mb-4">
    <br />
    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            Date Of Birth
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birth_date)
        </dd>

        <dt>
            Contact No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact_no)
        </dd>

        <dt>
            Email Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_address)
        </dd>

        <dt>
            Password
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            Current Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.current_address)
        </dd>

        <dt>
            Permanent Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.permanent_address)
        </dd>

        <dt>
            Gender
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            Blood Group
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blood_group)
        </dd>

        <dt>
            Religion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.religion)
        </dd>

        <dt>
            Nationality
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nationality)
        </dd>

        <dt>
            Profile Picture
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile_pic)
        </dd>

        <dt>
            UserType Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usertype.usertype_name)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.user_id }, new { @class = "btn btn-info" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning" })
    </p>
</div>

