@model IEnumerable<DatabaseAccess.usertype>
<br />
<br />
@{
    ViewBag.Title = "UserType Information";
}



<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">User Type Information : </h4>



    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>Action</th>

                    </tr>

                </thead>

                <tbody width="100px">

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.usertype_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.usertype_name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.usertype_id }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.usertype_id }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.usertype_id }, new { @class = "btn btn-danger" })

                            </td>

                        </tr>
                    }

                </tbody>

            </table>
            <p>
                <h5 class="m-0 font-weight-bold text-primary">
                    To Create A New Usertype Click Here--> @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-success" })
                </h5>
            </p>
        </div>
    </div>
</div>